body{
  background-image: url(https://i.pinimg.com/236x/29/4f/b6/294fb620739f83e28ca7f968f4a4b69e.jpg);
  background-size: cover;
    font-family: Arial, sans-serif;
    justify-content: center;
    max-width: 500px; 
    padding: 20px;

}
.page-wrapper {
  max-width: 500px; 
    padding: 20px;      
}


.create-monster-form button[type="submit"]:hover {
  background-color: #359154;
}
.ui.container h1.ui.header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 1000px;
  background-color: rgb(218, 39, 209);
}


.ui.segment {
  background-color: #efa9f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 1000px;
  align-items: center;
}

.ui.form .field label {
  font-weight: bold;
}

.ui.form .field input,
.ui.form .field textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e58989;
  border-radius: 3px;
}

.ui.form .ui.green.button {
  background-color: #21ba45;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ui.form .ui.green.button:hover {
  background-color: #16ab39;
}


#monster-container {
  list-style-type: none;
  padding: 0;
}

#monster-container .item {
  background-color: #fcf1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(189, 50, 50, 0.1);
  margin-bottom: 10px;
  padding: 10px;
}

#monster-container .item .header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

#monster-container .item .description {
  font-size: 0.9em;
  color: #666;
}


  
  .ui.container {
      padding: 10px;
  }
  .ui.form .field input,
  .ui.form .field textarea {
      padding: 8px;
  }
  .ui.form .ui.green.button {
      padding: 8px 16px;
  }
